<header class="navbar">
  <div class="navbar-container">
    <div class="logo">4Create - Demo App</div>
    <nav>
      <ul class="navbar-links">
        <li><a href="#" class="links">Home</a></li>
        <li><a href="#" class="links">About</a></li>
        <li>
          <a
            routerLink="/users"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: false }"
            class="links"
            >Users</a
          >
        </li>
        <li><a href="#" class="links">Contact</a></li>
      </ul>
    </nav>
    <div class="navbar-actions">
      <button class="btn-login">Logout</button>
    </div>
  </div>
</header>
